.touchpadIndicator_dialog {
	border: 1px solid #536272;
	background-color: black;
	border-radius: 20px;
}

.touchpadIndicator_dialog .myEntry {
	padding:3px;
	border: 1px solid #999;
	border-radius: 5px;
	width: 40px;
}

.touchpadIndicator_dialog .dialog_button {
	font-size: 12pt;
	color: white;
	padding: 5px 15px 7px 13px;
	border-radius: 10px;
	border: 1px solid #a3b2c2;
	background-gradient-direction: vertical;
	background-gradient-start: rgb(100, 100, 100);
	background-gradient-end: rgb(5, 5, 5);
}
.touchpadIndicator_dialog .dialog_button:hover {
	background-gradient-start: rgb(110, 110, 110);
	background-gradient-end: rgb(10, 10, 10);
}
.touchpadIndicator_dialog .dialog_button:active {
	background-gradient-start: rgb(10, 10, 10);
	background-gradient-end: rgb(40, 40, 40);
	/*padding: 6px 14px;*/
	color:#bbb;
}

.touchpadIndicator_dialog .contentBox {
	border-top: 2px solid #536272;
	padding:5px;
	color:#ccc;
}
.touchpadIndicator_dialog .naviLine {
    padding-top:20px;
	border-top: 2px solid #536272;
	border-bottom: 2px solid #536272;
	border-right: 2px solid #536272;
	background-gradient-start: rgb(0,0,0);
	background-gradient-end: rgb(30,30,30);
	background-gradient-direction: horizontal;
}
.touchpadIndicator_dialog .naviLine StButton{
	height:20px;
	color: #ccc;
	padding-left:20px;
}
.touchpadIndicator_dialog .naviLine StButton:chosen {
	background-gradient-start: rgb(60,60,60);
	background-gradient-end: rgb(20,20,20);
	background-gradient-direction: horizontal;
}
.touchpadIndicator_dialog .naviLine StButton:hover {
	color:white;
}
.touchpadIndicator_dialog .headerLine {
	padding:5px;
	font-size: 20px;
	font-weight: bold;
	color: #999;;
	background-gradient-start: rgb(50,50,50);
	background-gradient-end: rgb(0,0,0);
	background-gradient-direction: horizontal;
}

.touchpadIndicator_dialog .naviLine StButton,
.touchpadIndicator_dialog .descLine,
.touchpadIndicator_dialog .item_title {
	color:#ccc;
    font-size: 11pt;

}
.touchpadIndicator_dialog .descLine {
	padding:10px 5px 20px 5px;
}
.touchpadIndicator_dialog .item_title {
	font-weight: bold;
}
.touchpadIndicator_dialog .item_desc {
	font-size:10pt;
	color:#999;
	padding-left:20px;
	padding-bottom:25px;
}

.touchpadIndicator_dialog .touchpadIndicator_combo {
	border: 1px solid #999;
	border-radius: 5px;
	background-color:#222;
}

.touchpadIndicator_dialog .touchpadIndicator_button {
	font-size:11pt;
    border: 1px solid #999;
	border-radius: 5px;
	background-color:#222;
    padding: 5px 15px 7px 18px;
}

.touchpadIndicator_dialog .touchpadIndicator_checkBox {
	font-size:6pt;
    font-weight:bold;
    color:#999;
    border: 2px solid #999;
	border-radius: 0px;
	background-color:#222;
    padding: 1px 3px 1px 2px;
}
.touchpadIndicator_dialog .touchpadIndicator_checkBox:hover {
	background-gradient-start: rgb(110, 110, 110);
	background-gradient-end: rgb(10, 10, 10);
}
.touchpadIndicator_dialog .touchpadIndicator_checkBox:active {
	background-gradient-start: rgb(10, 10, 10);
	background-gradient-end: rgb(40, 40, 40);
	color:#bbb;
}

.touchpadIndicator_dialog .touchpadIndicator_checkBox_empty {
	font-size:6pt;
    font-weight:bold;
    color:#999;
    border: 2px solid #999;
	border-radius: 0px;
	background-color:#222;
    padding: 1px 6px 1px 2px;
}
.touchpadIndicator_dialog .touchpadIndicator_checkBox_empty:hover {
	background-gradient-start: rgb(110, 110, 110);
	background-gradient-end: rgb(10, 10, 10);
}
.touchpadIndicator_dialog .touchpadIndicator_checkBox_empty:active {
	background-gradient-start: rgb(10, 10, 10);
	background-gradient-end: rgb(40, 40, 40);
	color:#bbb;
}

.touchpadIndicator_checkBox_name {
	font-size:11pt;
    color:#999;
    padding: 0px 0px 0px 10px;
}

.touchpadIndicator_dialog .popup-combo-menu {
	background-color:black;
}
